extends ../layouts/application.pug

block header
  h1.display-4.fw-bold.mt-4= t('views.statuses.edit.title')

block content
  +formFor()(action=`/statuses/${status.id}` method='post')
    +input(status, 'name', errors)(type='text')
    input(name='_method' type='hidden' value='patch')
    +submit(status)(value=t('views.statuses.action.change'))