extends ../layouts/application.pug

block header
  = t('views.status.edit.title')

block content
  +formFor()(action=`/statuses/${status.id}` method='post')
    +input(status, 'name', errors)(type='text')
    input(name='_method' type='hidden' value='patch')
    +submit(status)(value=t('views.status.edit.submit'))