extends ../layouts/application.pug

block header
  = t('views.status.new.title')

block content
  +formFor()(action=route('statuses') method='post')
    +input(status, 'name', errors)(type='text')
    +submit(status)(value=t('views.status.new.submit'))