extends ../layouts/application.pug

block header
  = t('views.task.edit.title')

block content
  +formFor()(action=`/tasks/${task.id}` method='post')
    +input(task, 'name', errors)(type="text")
    +input(task, 'description', errors)(type="text")
    +select(task, 'statusId', statuses, errors, 'status', false)
    +select(task, 'executorId', users, errors, 'executor', false)
    +labelsSelect(task, 'labels', labels, { selectedLabelsIds, errors })
    +buttonTo(`/tasks/${task.id}`, 'patch')(class="btn btn-danger" value=t('views.task.edit.submit'))