extends ../layouts/application.pug

block header
  = t('views.task.new.title')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', errors)(type="text")
    +input(task, 'description', errors)(type="text")
    +select(task, 'statusId', statuses, error, 'status')
    +select(task, 'executorId', users, errors, 'executor')
    +labelsSelect(task, 'labels', labels, selectedLabelsIds, errors)
    +submit(task)(value=t('views.task.new.submit'))